*{
	box-sizing: border-box;
}
#signin{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #ccc;
	/*background-image: url('http://eskipaper.com/images/cool-nebula-wallpaper-1.jpg');*/
}
#left{
	flex: 4;
	height: 100vh;
	background-image: linear-gradient(to bottom,#485563,#29323c);
	borde: none;
	box-shadow: 0px 0px 10px 3px #485563; 
	transition: all 0.5s;
}
#right{
	flex: 6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
}
.signin-content{
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}
.signin-content img{
	padding: 0;
	background-color: #ccc;
	margin-bottom: 1rem;
	height: 100px;
	width: 200px;
}
#signin-form{
	width: 70%;
	margin-bottom: 0.8rem;
}
.signin-content label{
	display: block;
	margin: 0;
	margin-bottom: 0.2rem;
	font-size: 1.5rem;
}
.signin-content input{
	color: #ccc;
	width: 100%;
	margin: 0 0 0.8rem 0;
	padding: 0.7rem;
	font-size: 1.2rem;
	/*background-color: #120307;*/
	background: transparent;
	outline-style: none;
	border: 1px solid #fff;
	border-radius: 5px;
}
.signin-content .primary-btn{
	margin-top: 0.3rem;
}
.primary-btn{
	padding: 0.7rem;
	font-size: 1.3rem;
	border-radius: 5px;
	border: none;
	outline-style: none;
	background-color: orange;
	width: 100%;
	cursor: pointer;
	font-weight: 500;
	color: #f2dfc6;
}
.primary-btn:hover {
	background-color: #f49e2e;
}
a{
	color: #ccc;
}
a:hover {
	color: orange;
}
.signin-form .OR hr{
	flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}
.secondary-btn{
	padding: 0.7rem;
	font-size: 1.3rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline-style: none;
	cursor: pointer;
	font-weight: 500;
	padding: 0.8rem;	
	text-align: center;
	text-decoration: none;
	color: #ccc;
	margin-top: 0.7rem;
	transition: all 0.3s;
}
.secondary-btn:hover{
	border: 1px solid orange;
	color: orange;
}
#signin-footer{
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#signin-footer a{
	color: orange;
}