@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
.home{
	height: 100vh;
	display: grid;
  grid-gap: 5px;
	grid-row-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
      "h h h h h h h h h h h h"
      "c c c c c c c c c c c c"
			". v v v v v v v v v v ."
      "f f f f f f f f f f f f";
  }
	
  .top-page{
    grid-area: c;
  }
  /* Gallery slide show in SlideshowGallery.css */
	.bottom-page{
		grid-area: v;
  }
  /* Post List */

/* Posts */


.post-body{
	cursor: pointer;
}
.display{
	visibility: visible;
	top: -50px;
}
.hover-state{
	padding: 0;
	display: inline-block;
}

.main-post-container{
	grid-column: 3 / 3;
	grid-row: 2 / 4;
	display: flex;
	margin-top: 1.5rem;
}
.errorPage{
	grid-column: 2;
	grid-row: 2;
}

.footer > div{
	flex: 1;
	text-align: center;
}
.footer .i1{
	flex: 2;
}


.post-list{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0.5vw;
  grid-auto-rows: auto;
}
.post{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: default;
  position: relative;
  overflow: hidden;
  transform: 1s;
  border-radius: 5px;
  border: 1px solid black;
}
.small-postCard{
  grid-column: span 2;
  grid-row: span 2;
}
.medium-postCard{
  grid-column: span 2;
  grid-row: span 2;
}
.big-postCard{
  grid-column: span 4;
  grid-row: span 4;
}
.post-image{
  opacity: 0.9;
  position: relative;
  width: 100%;
  height: 100%;
}
.text-block{
  padding: 2px;
  color: white;
  position: absolute;
  top: 0px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight:  400;
}
.subtitle{
  font-size: 3vw;
}
.post-body{
  font-size: 1.3vw;
  visibility: hidden;
  position: absolute;
  padding: 5px;
}
.layer{
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.post:hover{
  z-index: 10;
  border: 1px solid orange;
  box-shadow: 0px 0px 25px 0px rgba(250,117,0,1);
}
.post:hover .post-body{
  visibility: visible;
  top: 15%;
}
.post:hover .subtitle{
  visibility: hidden;
  /* transition-delay: 0.3s; */
}
.post:hover .layer{
  visibility: visible;
}

/*  ALL FOR AUTHOR CAGE*/

.hover-state{
  position: absolute;
  bottom: 10px;
}
.hover-state:hover .author-info{
	visibility: visible;
}
.author-info{
	z-index: 100;
	cursor: default;
	visibility: hidden;
	display: inline-block;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	bottom: 100%;
  left: 0%;
	width: 100px;
	padding: 5px;
	border-radius: 5px;
  font-size: 1rem;
}
.author-info::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
#author-name{
  font-weight: 300;
  letter-spacing: 2px;
  font-style: italic;
}
#marker{
  color: orange;
}
#reputation-icon{
  width: 20%;
  height: 20%;
  background-color: red;
  color: white;
}
#follow-btn{
  width: 100%;
  height: 100%;
  cursor: pointer;

}
.author-info > div{
	display: flex;
	flex-direction: column;
}
