@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
.home{
	height: 100vh;
	display: grid;
  grid-gap: 5px;
	grid-row-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
      "h h h h h h h h h h h h"
      "c c c c c c c c c c c c"
			". v v v v v v v v v v ."
      "f f f f f f f f f f f f";
  }
	.header{
		position: sticky;
		top: 0;
		z-index: 1000;
		grid-area: h;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid orange;
	}

	.bottom-page{
		grid-area: v;
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
	}
	.footer{
		grid-area: f;
		background-color: black;
		display: flex;
		align-items: flex-start;
		height: 100px;
		padding: 1rem;
		color: orange;
		border-top: 1px solid orange;
	}
.signin-nav-item{
	display: flex;
	align-items: center;
}

.signout-btn{
	all: unset;
	background-color: orange;
	border: 1px solid orange;
	color: white;
	padding: 0.8rem;
	border-radius: 2px;
	transition: 0.5s;
	cursor: pointer;
}
.signout-btn:hover{
	background-color: white;
	color: orange;
	transition: 0.5s;
}
.signin-btn{
	all: unset;
	color: black;
	padding: 0.5rem 0.8rem;
	border-radius: 2px;
	transition: 0.5s;
	cursor: pointer;
}
.signin-btn:hover{
	background-color: white;
	color: orange;
	transition: 0.5s;
}
.signup-btn{
	all: unset;
	background-color: black;
	border: 1px solid black;
	color: orange;
	padding: 0.8rem;
	border-radius: 2px;
	transition: 0.5s;
	cursor: pointer;
}
.signup-btn:hover, .signin-btn:hover{
	background-color: orange;
	color: white;
	transition: 0.5s;
}

#logo{
	flex: 5;
	align-items: flex-start;
	text-align: center;
	letter-spacing: 5px;
	font-weight: 400;
	cursor: default;
	color: black;
	font-size: 2rem;
	margin: 1rem;
	color: #fff;
  font-family: Pacifico;
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

.header-bar{
	display: flex;
	background-color: orange;
	/* padding-bottom: 10px; */
}
.catelogy-bar{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	position: relative;
	bottom: 0;
	background-color: rgba(0,0,0,0.9);
}
.catelogy-link{
	text-decoration: none;
	color: #FFDD1B	;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: -10px;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-family: Audiowide;
}
.active-catelogy{
	background-color: orange;
	color: black;
}
.catelogy-link:hover{
	color: #fff;
	/* background-color: orange; */
	animation: neon3 1.5s ease-in-out infinite alternate;
}
/* Posts */


.post-body{
	cursor: pointer;
}
.display{
	visibility: visible;
	top: -50px;
}
.hover-state{
	padding: 0;
	display: inline-block;
}


.bottom-page .adver{
	background-color: rgba(0,0,0,0.9);
	width: 90%;
	height: 100px;
	align-self: center;
	text-align: center;
}
.bottom-page .post-container{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
	margin-top: 3rem;
}
.bottom-left-container{
	flex: 6;
	border-right: 1px solid rgba(0,0,0,0.9);
	margin-right: 1rem;
}
.bottom-left-container .bottom-left-container-item{
	display: flex;
	align-items: center;
}
.bottom-left-container .bottom-left-container-item img{
	width: 40%;
	height: 100px;
}
.bottom-right-container{
	flex: 4;
	position: sticky;
	height: 100%;
	top: 1rem;
}
.popularPostsContainer{
	margin-bottom: 1rem;
	box-shadow: 0px 10px 5px #ccc;
}
.popularPostsContainer > div{
	display: flex;
}
.popularPostsContainer img{
	width: 50%;
	height: 50%;
}
.popularPostsContainer h3{
	text-align: center;
	background-color: rgba(255,0,255,0.5);
}
.main-post-container{
	grid-column: 3 / 3;
	grid-row: 2 / 4;
	display: flex;
	margin-top: 1.5rem;
}
.errorPage{
	grid-column: 2;
	grid-row: 2;
}
.main-post{
	flex: 7.5;
	position: relative;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	margin-right: 2rem;
	border-radius: 10px 0px 5px orange;
}
.post-content{
	margin-top: 2rem;
	padding: 0 5rem;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
	line-height: 2rem;
	font-weight: 350;
}
.post-title{
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 420;
	letter-spacing: 1px;
}
.post-info{
	display: flex;
	cursor: default;
}
.post-info img{
	background-color: blue;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	align-self: center;
	margin-right: 0.2rem;
	border-radius: 5px;
}
.post-info .author{
	margin-right: 1rem;
}
.post-info .date{
	font-size: 0.9rem;
}
.post-body{
}
.main-post .post-tag{
	display: flex;
}
.post-tag div{
	background-color: tomato;
	font-size: 0.9rem;
	margin-right: 1rem;
	border-radius: 5px;
	padding: 0 0.5rem;
	cursor: pointer;
}
.side-bar{
	position: sticky;
	position: -webkit-sticky;
	top: 2rem;
	background-color: rgba(0,0,0,0.9);
	flex: 2.5;
	align-self: flex-start;
}
.scroll-bar{
	position: sticky;
	bottom: 0px;
	border-top: 1px solid rgba(0,0,0,0.9);
	background-color: white;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-around;
}
.scroll-bar > div {
	padding: 0.2rem 1rem;
	font-size: 1.2rem;
	border: 1.2px solid rgba(0,0,0,0.9);
	cursor: pointer;
	border-radius: 2px;
}
.scroll-bar > div:hover{
	color: orange;
	border: 1.2px solid orange;
}

.footer > div{
	flex: 1;
	text-align: center;
}
.footer .i1{
	flex: 2;
}
